<div class="ai-header">
    <h2 class="timeline-heading">Artificial Intelligence</h2>
  <div class="timeline-subtitle">
    Intelligence isn’t just about algorithms, it’s about vision. Our journey through years of innovation, research, and real-world applications has equipped us with the insight to harness AI for meaningful impact. From data to decision, from automation to augmentation, we’ve crafted processes and tools that transform challenges into opportunities, helping businesses navigate the evolving landscape of AI with confidence.
  </div>

</div>

<div class="ai-flow-vertical">
  <div class="flow-step" *ngFor="let step of steps; let i = index">
    <!-- timeline connector -->
    <div class="line"></div>

    <!-- icon -->
    <div class="circle">
      <fa-icon [icon]="step.icon"></fa-icon>
    </div>

    <!-- content card -->
    <div class="content" [class.left]="i % 2 === 0" [class.right]="i % 2 !== 0">
      <h3 class="title">{{ step.title }}</h3>
      <p class="desc">{{ step.desc }}</p>
      <div class="tools">
        <span class="tool-badge" *ngFor="let tool of step.tools">{{ tool }}</span>
      </div>
    </div>
  </div>
</div>
