<div class="news-wrapper">

  <h2 class="page-title">Latest News & Events</h2>

  <div class="news-card">

    <!-- VIDEO -->
    <div class="video-container">

      <!-- Thumbnail -->
      <img *ngIf="!isPlaying"
           [src]="newsVideo.thumbnail"
           (click)="playVideo()"
           class="thumbnail" />

      <!-- Video -->
<iframe
  *ngIf="isPlaying"
  [src]="safeVideoUrl"
  referrerpolicy="strict-origin-when-cross-origin"
  allow="autoplay; encrypted-media"
  allowfullscreen>
</iframe>

      <!-- Play -->
<div class="play-overlay"
     *ngIf="!isPlaying"
     (click)="playVideo()">
  <i class="fa-solid fa-play"></i>
</div>

    </div>

    <!-- Content -->
    <div class="news-info">
      <h3>{{newsVideo.title}}</h3>
      <p>{{newsVideo.date}} | {{newsVideo.category}}</p>
    </div>

  </div>

</div>
